<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Header</title>
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel="stylesheet" href="headerstyle.css">

</head>

<body>
    <header>
        <img class="logo" src="../../static/img/LoCarLogo.jpg" alt="logo">
        <nav>
            <ul class="nav_links">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../driver/driver.html">Drivers</a></li>
                <li><a href="../car/car.html">Cars</a></li>
                <li><a href="../driver/driver.html">Drivers</a></li>
                <li><a href="../association/asociation.html">Bookings</a></li>
                <li><a href="../admin/admin.html">Admin</a></li>
            </ul>
        </nav>
        <a class="cta" href="../Contact.html"><button>Contact</button></a>
    </header>
</body>
</html>
