<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoCar</title>
    <link rel="stylesheet" href="../static/styles/main.css">
</head>
<body>

    <div>
        <h2><a href="../templates/driver/driver.html">Drivers</a></h2>
    </div>
    <div>
        <h2><a href="../templates/car/car.html"> Cars </a></h2>
    </div>
    <div>
        <h2><a href="../templates/association/asociation.html"> Bookings</a></h2>
    </div>
    <div>
        <h2><a href="../templates/admin/admin.html"> Admin</a></h2>
    </div>

    <script src="../static/styles/actions.js"></script>
</body>
</html>
